

#particles-js {
 width: 100%;
 height: 100%;
 background-color: black;
 background-image: url('');
 background-size: cover;
 background-position: 50% 50%;
 background-repeat: no-repeat;
 position: fixed;
 top: 0;
 left: 0;
}
.row{
  display: flex;
  width: 100%;
  justify-content: space-evenly!important;
  height: auto;

  position: relative;
  top:50%;
  padding-bottom: 50px;
  transform: translateY(-50%);
}
.item{
  height: 350px;
  background-color: white;
  width: 20%;

  transition: 0.5s all;
}
#item1{
  background: url('../images/speakers/hitesh-oberoi.png');
  background-size: cover;
}
#item2{
  background: url('../images/speakers/kaizaad-kotwal.jpg');
  background-size: cover;
}
#item3{
  background: url('../images/speakers/manu-chopra.jpg');
  background-size: cover;
}
#item4{
  background: url('../images/speakers/amit_lodha.jpg');
  background-size: cover;
}

#item5{
  background: url('../images/speakers/abhishek_singh.jpg');
  background-size: cover;
}
#item6{
  background: url('../images/speakers/anuranjita_kumar.jpg');
  background-size: cover;
}
#item7{
  background: url('../images/speakers/bickram_ghosh.jpg');
  background-size: cover;
}
#item8{
  background: url('../images/speakers/cyrus_broacha.jpg');
  background-size: cover;
}
#item9{
  background: url('../images/speakers/kush_kamra.jpg');
  background-size: cover;
}
#item10{
  background: url('../images/speakers/sabika_naqvi.jpg');
  background-size: cover;
}
.name, .text{
  color: white;
  display: none;
  /* opacity: 0; */
  z-index: 10;
}

.inlay{
  height:100%;
  margin: 0!important;
  width: 100%;
  transition: 0.5s all;
  opacity:0;
  padding: 20px!important;
  background: black;
}
.inlay:hover>.text{
  display: block;
  opacity: 1;
  transition: 0.5s all;
}
.inlay:hover>.name{
  display: block;
  opacity: 1;
  transition: 0.5s all;
}
.item:hover>.inlay{
  opacity: 0.5!important;
  transition: 0.5s all;
}
.item:hover{
  box-shadow:inset 5px 5px 5px 5px,black;
}
html,body {
    height:100%;
}
@media only screen and (max-width:500px){
  .row{
    flex-direction: column;
    margin-top: 750px;
    width:110%!important;
  }.item{
    width: 100%;
    margin: 0 auto;
  }*{
    overflow-y: scroll;
  }canvas{
      display: none;
  }nav{
    position: sticky!important;
  }
}
.modal{
  z-index: 2147483647!important;
}
