.body{
  letter-spacing: 2px;
}

body{
  background: black!important;
  overflow-y: scroll;
}

.back{
  background: #FF2B06;
  width: 100%;
  height: 100%;
}

.profile_div{
  width: 50%;
  height: 50%;
  background-color: white;
  float:left;
  text-align: center;
}

nav{
  margin-bottom: 20px;
}

@media only screen and (max-width:600px){
  .profile_div{
    float: none;
    width: 100%;
  }
}

.name{
  letter-spacing: 3px;
  text-transform: uppercase;
}

#profile_left, #profile_right{
  padding: 20px;
}

#profile_right {
  background-color:black;
  color:white;
}

#profile_right .body{
  color:white!important;
  font-size: 15px;
  text-align: right!important;
}

#profile_left{
  background-color: black;
  color: white;
}

#profile_left .body{
  color:white!important;
  font-size: 15px;
  text-align: left!important;
}
